body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Bahnschrift', sans-serif;
  background: #000;
  overflow: auto;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 20% 30%, #00f5ff88 0%, transparent 40%),
      radial-gradient(circle at 70% 60%, #e600ff88 0%, transparent 40%),
      radial-gradient(circle at 40% 80%, #7400ff55 0%, transparent 40%);
  animation: moveGradient 15s infinite linear;
  filter: blur(100px);
  opacity: 0.7;
}

@keyframes moveGradient {
  0% {
      transform: translate(0, 0) scale(1);
  }

  50% {
      transform: translate(-25%, -25%) scale(1.2);
  }

  100% {
      transform: translate(0, 0) scale(1);
  }
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding-top: 40px;
  }
  
  .session-info {
    font-size: 18px;
    color: #f0f0f0;
    background: rgba(255, 255, 255, 0.05);
    padding: 12px 20px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    margin-bottom: 30px;
    box-shadow: 0 4px 18px rgba(255, 255, 255, 0.1);
  }
  
  .glass-card {
    width: 95%;
    max-width: 650px;
    background: rgba(99, 99, 99, 0.12);
    padding: 30px 40px;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  
  .glass-card h2 {
    font-size: 31px;
    margin-bottom: 20px;
    text-shadow: 0 0 6px #00ffc8;
    font-weight: 600;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 19px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    outline: none;
  }
  
  input[readonly] {
    cursor: not-allowed;
    opacity: 0.85;
  }
  
  button[type="submit"] {
    margin-top: 24px;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(to right, #09f, #f0f);
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 8px 18px rgba(76, 175, 80, 0.3);
    transition: background 0.3s, transform 0.2s ease;
  }
  
  button[type="submit"]:hover {
    background: linear-gradient(to right, #f0f, #09f);
    transform: scale(1.05);
  }
  